<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	h1{
		margin-left:300px;
		font-family: verdana;
		font-size: 40px;
		color:red;
	}
	a{

	    margin-left:400px;
		text-decoration: none;
		font-size: 20px;
		font-family: verdana;
		color: white;

	}
	#cnt1{
		margin-top:40px;
	}
	body{
		background-image: url("director.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		
	}

</style>
</head>
<body>
<h1>Welcome to Film Applications</h1>
<div id="cnt1">
<a href="film" target="_blank">Create Film</a>
</div>
<div id="cnt1">
<a href="director" target="_blank">Create Director</a>
</div><div id="cnt1">
<a href="deleteMovie" target="_blank">Delete Movie</a>
</div>
<div id="cnt1">
<a href="displayMovie" target="_blank">Display Movie</a>
</div>
<div id="cnt1">
<a href="displayDirector" target="_blank">Display Director</a>
</div>
<div id="cnt1">
<a href="updateDirector" target="_blank">Update Director</a>
</div>
</body>
</html>